@model BadgeMakerBackEnd.Models.Question

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">

        <h4>Question</h4>
        <hr />

        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Owner" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Owner" class="form-control" />
                <span asp-validation-for="Owner" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="QuestionText" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="QuestionText" class="form-control" />
                <span asp-validation-for="QuestionText" class="text-danger" />
            </div>
        </div>

        <h4>Options</h4>
        <hr />

        <div class="form-group">
            <div id="responses"></div>
            
            <br />

            <div class="col-md-offset-2 col-md-10">
                <a class="btn btn-default" id="addButton">Add New Option</a>
            </div>
        </div>

        <hr />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create Question" class="btn btn-default" />
                </div>
            </div>
        </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script>

        $("#addButton").click(add)

        function add() {
            var optionNumber = $("#responses h2").length;
            $("#responses").append("<h2></h2><label class=\"col-md-2 control-label\" for=\"Options_" + optionNumber + "__Title\">Option " + (optionNumber+1) + "</label>")
            $("#responses").append("<div class=\"col-md-10\"><input name=\"Options[" + optionNumber + "].Title\" class=\"form-control valid\" id=\"Options_" + optionNumber + "__Title\" aria-invalid=\"false\" type=\"text\"></div>")
            $("#responses").append("<div class=\"col-md-offset-2 col-md-10\"><div class=\"checkbox\"><input data-val=\"true\" data-val-required=\"The IsCorrect field is required.\" id=\"Options_" + optionNumber + "__IsCorrect\" name=\"Options[" + optionNumber + "].IsCorrect\" type=\"checkbox\" value=\"true\">"
                + "<label for=\"Options_" + optionNumber + "__IsCorrect\">IsCorrect</label></div><br /></div>");
        }
    </script>
}
